/* add media queries */

/* Preload */

.preload {
  z-index: 100;
  background-image: linear-gradient(to right, #000, #2d3436);
  width: 100%;
  position: fixed;
  top: 0;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Qwitcher Grypen", cursive;
  animation: fadePreload 5s ease;
}
.splashInitial {
  opacity: 0;
  animation: fadeContent 3s ease-in-out;
  font-size: 8rem;
  letter-spacing: 7px;
}

.splashName {
  opacity: 0;
  animation: fadeContent 3s ease-in-out;
  animation-delay: 0.5s;
  letter-spacing: 5px;
  font-size: 4rem;
  margin: 0;
}
@keyframes fadePreload {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeContent {
  to {
    opacity: 1;
  }
}

/* Disable scroll temporarily (--> js)*/

.main {
  overflow: hidden;
}

/* Scroll to top */

.hide {
  opacity: 0;
}

#btnScrollToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: rgb(33, 33, 59);
  color: rgb(12, 168, 168);
  border: none;
  font-size: xx-large;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
  cursor: pointer;
}

#btnScrollToTop:active {
  background-color: rgb(0, 0, 255);
}

/* General */
:root {
  --box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --primary-font: Montserrat, sans-serif;
  --secondary-font: Poppins, sans-serif;
  --bold-color: #c78956;
  --light-color: #c4cfde;
  --padding-none: 0;
  --sec-change-margin: 100px;
  --primary-child-margin: 5rem;
  --secondary-child-margin: 2rem;
  --secondary-bg-color: linear-gradient(145deg, #1e2024, #23272b);
}

html {
  scroll-behavior: smooth;
}

body {
  word-wrap: break-word;
  color: aliceblue;
  background-color: #212428;
}

hr {
  margin: var(--primary-child-margin) var(--sec-change-margin);
  border-top: 1px solid black;
}

.sec_change {
  padding-top: 25px;
}

.small_heading {
  text-align: center;
  font-size: small;
  color: rgb(173, 25, 25);
}

h1 {
  margin: 0px;
}

.flexy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.small_text {
  text-transform: uppercase;
  text-align: center;
  font-family: var(--primary-font);
}

/* transition start */

.t_figure {
  width: auto;
  overflow: hidden;
}

.t_image {
  width: 100%;
}

.t_div .t_link .t_image,
.t_image {
  transition: all 0.5s ease;
}

.t_div .t_link .t_image:hover,
.t_image:hover {
  transform: scale(1.2);
}

/* end */

/* Page */

/* Navbar */

.adminImg {
  cursor: pointer;
}

.navigation {
  box-shadow: var(--box-shadow);
  padding: 10px 40px;
  width: 100%;
  background-color: #212428de;
}

.navbar-header span img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar {
  background-color: #212428;
}

#myNavbar {
  float: right;
  font-size: larger;
}

/* Intro */

.intro {
  font-family: var(--primary-font);
}

.intro h1 {
  font-weight: 700;
  font-size: 50px;
}

.brief {
  margin-top: var(--sec-change-margin);
}

.intro h1 span {
  color: royalblue;
}

.description {
  font-size: 18px;
  line-height: 30px;
  padding-right: 20%;
  padding-top: 15px;
  color: var(--light-color);
}

.description a {
  color: #84b2c9;
}
/* Socials and Stack */

.row {
  margin: var(--primary-child-margin) 0px;
}

.row ul,
.contact_info ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.social-media li div {
  margin-right: 20px;
  width: 50px;
  height: 40px;
  margin-top: var(--secondary-child-margin);
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-bg-color);
}

.social-media li div a i {
  padding: 10px;
}

.fa {
  font-size: 30px;
}

.pic img {
  width: 400px;
  height: 400px;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}

/* Education */

.course {
  width: 500px;
  height: 450px;
  padding: 50px;
  box-shadow: var(--box-shadow);
}

.course a img {
  width: 400px;
  height: 250px;
}

.course div {
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: var(--primary-font);
  font-size: 15px;
  line-height: 30px;
  color: #2b84b8;
}

.course div .year {
  float: right;
}

.course p {
  font-size: 25px;
}

/* Projects */

.sec_head {
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: var(--primary-child-margin);
  color: var(--bold-color);
}

.topic {
  font-family: var(--secondary-font);
  margin: 10px;
}

.work {
  margin: var(--primary-child-margin);
  padding: 20px;
  height: 350px;
  width: 325px;
  box-shadow: var(--box-shadow);
}

.work img {
  height: 285px;
  width: 285px;
  border-radius: 10px;
}

.work div p {
  font-weight: bolder;
  color: var(--light-color);
  font-size: 15px;
  font-family: var(--primary-font);
  text-transform: uppercase;
}

/* Contact */

#contact {
  align-items: center;
}

form {
  color: #878e99;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: var(--primary-font);
}

.contact_info {
  font-family: var(--secondary-font);
  padding: var(--primary-child-margin);
  width: 30vw;
  box-shadow: var(--box-shadow);
  font-size: 18px;
  line-height: 30px;
  color: var(--light-color);
}

.contact_info .t_link {
  margin-bottom: var(--sec-change-margin);
}

.contact_info p {
  margin-top: 4rem;
}

.foot_flex {
  justify-content: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  border: 1px solid rgb(82, 79, 79);
  border-radius: 10px;
  background-color: black;
  width: 100%;
}

.bottom-margin {
  margin-bottom: 50px;
}

.form-group {
  padding-left: 0;
}

.row1 {
  margin-top: -50px;
}

.contact_form {
  padding: 20px;
  box-shadow: var(--box-shadow);
}

form div {
  display: block;
}

.contact_submit {
  box-shadow: var(--box-shadow);
  height: 40px;
  border: none;
  padding: 0;
  margin-left: 30px;
  width: 90%;
  background: inherit;
}
.contact_submit:hover {
  box-shadow: 10px 10px 19px #00000072;
  transition: 1s;
  border-radius: 50%;
  background-color: #1e2024;
}

.contact_submit:hover {
  transition: 1s;
  background-color: #1e2024;
}

/* Footer */

.foot {
  color: #e77f09;
  font-size: 20px;
  margin: 0px 20px;
}

.foot_text {
  margin: 20px;
  text-align: center;
  font-family: var(--primary-font);
}

/* Media Queries */
@media (max-width: 920px) {
  body {
    text-align: center;
  }
  #myNavbar {
    height: 100%;
    float: none;
  }
  .description {
    padding-right: 0;
  }
  .smedia {
    margin-bottom: 2rem;
  }
  form {
    width: 70%;
    margin: 0 auto;
  }
  .contact_section {
    display: block;
  }
  .contact_info {
    margin-left: 18rem;
    width: 50%;
    margin-bottom: var(--sec-change-margin);
  }
  .row ul,
  .contact_info ul {
    align-items: center;
    justify-content: center;
  }
}
